---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EuclidSection from '../components/EuclidSection.astro';
import StarlinkSection from '../components/StarlinkSection.astro';
import SatriaSection from '../components/SatriaSection.astro';
import StarshipSection from '../components/StarshipSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SpaceX">

	<Header />

	<main>
		<EuclidSection />

		<StarlinkSection />

		<SatriaSection />

		<StarshipSection />
	</main>

	<Footer />
</Layout>