<footer class="flex justify-center items-center py-10 bg-black">
    <ul class="flex [&>li]:px-5 [&>li>a]:text-white [&>li]:text-xs [&>li>a]:font-bold">
        <li class="text-gray-300">SPACEX 2023</li>
        <li><a href="#">TWITTER</a></li>
        <li><a href="#">YOUTUBE</a></li>
        <li><a href="#">INSTAGRAM</a></li>
        <li><a href="#">FLICKR</a></li>
        <li><a href="#">LINKEDIN</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
        <li><a href="#">SUPPLIERS</a></li>
    </ul>
</footer>