<section class="h-screen w-screen flex relative justify-center">
    <div class="self-end w-[1500px] pl-[60px] pb-[150px]">
        <div class="text-white text-left h-fit self-end flex flex-col w-[520px]">
            <h1 class="font-bold text-5xl w-fit whitespace-nowrap drop-shadow-xl">STARSHIP FLIGHT TEST</h1>
            <button class="border-2 font-bold w-[200px] h-[50px] mt-6">REWATCH</button>
        </div>
    </div>

    <img src="/flight-test.jpg" alt="background-img" class="absolute w-screen h-screen top-0 left-0 -z-10 object-cover">
</section>