---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
		<slot />
	</body>
</html>
<style is:global>
@font-face {
    font-family: D-DIN;
    src: url(/D-DIN-Bold.otf) format("opentype");
    font-style: bold;
    font-weight: 800;
    font-display: block
}

@font-face {
    font-family: D-DIN;
    src: url(/D-DIN.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: block
}


body {
	overflow-x: hidden;
}

</style>
